.container {
    display: block;
}

.input {
    position: relative;
    display: inline-block;
}

.slds-dropdown {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.slds-listbox {
    max-height: 200px;
}
.container:hover .slds-dropdown {
    display: block;
}